# Ignore everything
*

# Allow these folders
!app/
!components/
!config/
!hooks/
!lib/
!prisma/
!stores/
!types/
!utils/
!actions/

# Include all files inside allowed folders
!app/**
!components/**
!config/**
!hooks/**
!lib/**
!prisma/**
!stores/**
!types/**
!utils/**
!actions/**

# Allow these root files
!.gitignore
!package.json
!package-lock.json
!next.config.ts
!tsconfig.json
!eslint.config.mjs
!next-env.d.ts
!README.md


node_modules/
.next/
.env
.env.*
output.txt
.vscode/